<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008791078085-onkspe0v1t1audip7rng5a690rutqr8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008791078085-onkspe0v1t1audip7rng5a690rutqr8g</string>
	<key>API_KEY</key>
	<string>AIzaSyBUbZ5DB2of1AeTZfirJRqU0TmN158JnN8</string>
	<key>GCM_SENDER_ID</key>
	<string>1008791078085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonxuannguyen.finaluniproject.easyWellness</string>
	<key>PROJECT_ID</key>
	<string>final-uni-project-e1606</string>
	<key>STORAGE_BUCKET</key>
	<string>final-uni-project-e1606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008791078085:ios:33464ca0e08a2320e91cac</string>
</dict>
</plist>